*{
    font-family: 'Concert One', cursive;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.backgroundHome{
    height: 100vh;
    background-color: rgb(38, 36, 40);
}

.background{
    height: 90vh;
    background-color: rgb(38, 36, 40);
}

.heigthNavbar{
    height: 10vh;
}

.logo{
 font-size: 3em;
 color: white;
}

.homeButton, .levelButton{
    border-radius: 1em;
    border: 0.08em solid white;
    color: white;
    font-size: x-large;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playerName{
    height: 2.5em;
}
.square{
    width: 6em;
    height: 6em;
    border: 0.2em solid white;
}

#intermediateRow, #beginnerRow{
    display: none;
}

