
*{
    font-family: 'Electrolize', sans-serif;
}

html body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

.background{
    height: 90vh;
}

.heigthNavbar{
    height: 10vh;
}

/* HOME PAGE */
.backgroundHome {
    height: 100vh;
    width: 100vw;
}

.logo, .bungeeFont{
    font-family: 'Bungee Shade', cursive;
    font-size: 1.6em;
    z-index: 1;
}

.gameButton{
    height: 2.5em;
    border-radius: 1em;
    background-color: black;
    border: 0.2em groove white;
    color: white;
    font-size: x-large;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.gameButton:hover{
    background-image: linear-gradient( to right, 
        #131313,
        #333333,
        #666666,
        #999999,
        #a4a0a0,
        #131313
      );
    animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
    to { background-position:20vw; }
}


/* LEVELS PAGE */

#playerName{
    height: 2.5em;
}


/* COLOURS PAGE */

.coloursPage{
    overflow-x: hidden;
}

.square{
    width: 6em;
    height: 6em;
    border: 0.2em solid white;
}

.colorpicker{
    border: 0.1em solid white;
}

#playerName{
    background-color: white;
}

#intermediateRow, #beginnerRow, #advancedRow{
    display: none;
}


/* ABOUT PAGE */

.borderAbout{
    border: 0.3em groove white;
    border-radius: 1em;
}

.stars{
    background-image: url(../img/stars.gif);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}


/* GAME PAGE */

.miniSquare{
    width: 3em;
    height: 3em;
    margin-left: 0.4em;
}

.squareGame{
    width: 2.8em;
    height: 2.2em;
    border: 0.1em solid white;
    margin: 0.3em;
}

.circle{
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: 0.1em solid white;
}

@media (min-width: 1025px) {
    .miniSquare{
        width: 4em;
        height: 3em;
        margin-left: 1em;
    }

    .squareGame{
        width: 4.5em;
        height: 3em;
        border: 0.1em solid white;
        margin: 0.5em;
    }

    .circle{
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        border: 0.1em solid white;
    }

    #game{
        padding-right: 28em;
    }

    .backgroundGame{
        height: 90vh;
    }
}

/* RESULTS PAGE */

.letters{
    font-size: 4.5em;
}

@media (min-width: 768px) {

    .letters{
        font-size: 8em;
    }
}

#loser, #winner{
    display: none;
}


