
*{
    font-family: 'Concert One', cursive;
    background-color: rgb(38, 36, 40);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.background{
    height: 90vh;
}

.heigthNavbar{
    height: 10vh;
}

/* HOME PAGE */
.backgroundHome{
    height: 100vh;
}

.logo{
 font-size: 3em;
 color: white;
}

.homeButton, .levelButton{
    border-radius: 1em;
    border: 0.08em solid white;
    color: white;
    font-size: x-large;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LEVELS PAGE */

#playerName{
    height: 2.5em;
}


/* COLOURS PAGE */

.coloursPage{
    overflow-x: hidden;
}

.square{
    width: 6em;
    height: 6em;
    border: 0.2em solid white;
}

.colorpicker{
    border: 0.1em solid white;
}

#playerName{
    background-color: white;
}

#intermediateRow, #beginnerRow, #advancedRow{
    display: none;
}


/* ABOUT PAGE */


.borderAbout{
    border: 0.5em groove white;
    border-radius: 1em;

}